*{
    font-family: "Work Sans",sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    
}
nav .nav-bar .logo{
    width: 60px;
}
nav .nav-bar .logo img{
    width: 100%;
}
.nav-bar .drop{
    position: relative;
    top: 5px;
}
.nav-bar .drop .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    cursor: pointer;

}
.nav-bar .drop .icon:hover :nth-child(2){
    width: 100%;
}
.nav-bar .drop .icon span:first-child{
    width: 100%;
    
}
.nav-bar .drop .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s ease-in;
}
.nav-bar .drop .icon span:last-child {
    width: 100%;
}
.nav-bar .drop .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
span:last-child{
    margin-bottom: -5px;
}
.nav-bar .drop ul{
    position: absolute;
    list-style: none;
    background-color: #F6F6F6;
    width: 200px;
    text-align: center;
    right: 1px;
    display: none;
    margin-top: 15px;
    border: 1px solid black;
    
    
}
.nav-bar .drop ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    position: absolute;
    right: 5px;
    top: -20px;
    
}

.nav-bar .drop:hover ul{
    display: block;
    transition: all 0.5s ease-in-out;
}
.nav-bar .drop ul li{
    padding: 10px 20px;
    font-size: 20px;
   
}
.nav-bar .drop ul li:not(:last-child){
    border-bottom: 1px solid black;
}
.nav-bar .drop ul li a{
    text-decoration: none;
    color: black;
}
.landing{
    background-size: cover;
    background-image: url(/image/landing.jpg);
    height: 860px;

}
.landing .landing-text{
    position: relative;
    text-align: center;
    top: 40%;
}
.landing .landing-text h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: #10CAB7;
    font-weight: bolder;
}
.landing .landing-text p{
    font-size: 20px;
    width: 15%;
    margin: auto;
    font-weight: 200;
    color: #333333d0;
}
.main {
    background-color: rgba(205, 216, 212, 0.267);
}
.exper{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.exper div{
    padding: 20px;
    
}
.exper i{
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #10cab7;

}
.exper h2{
    margin-bottom: 20px;
}
.exper p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    color: #10cab7;
    margin-bottom: 50px;
}
.service{
    margin-top: 100px;
    height: 800px;
}
.service .title{
    text-align: center;
    margin-bottom: 100px;
}
.service .title h2{
    font-size: 120px;
    letter-spacing: -10px;
    font-weight: bolder;
    color: #8d878750;
}
.service .title p{
    font-size: 20px;
    margin-top: -35px;
}
.explane{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.explane .col{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.explane .col .srv{
    display: flex;
    margin-bottom: 50px;
}
.explane .col .srv i{
    flex-basis: 150px;
    font-size: 35px;
    color: #10CAB7;
}
.explane .col .text h3{
    margin-bottom: 25px;
}
.explane .col .text p{
    line-height: 30px;
    color: #10CAB7;
}
.explane .col .pic {
    margin-left: 80px;
    text-align: center;
    position: relative;
}
.explane .col .pic img{
    width: 260px;
    transition: all .5s ease-in-out;
}
.explane .col .pic::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 70px);
    top: -50px;
    right: -10px;
    background-color: #2C4755;
    z-index: -1;
    transition: all .5s ease-in-out;

}
.explane .col .pic:hover::before {
    width: calc(100% + 20px);
    

}
.explane .col .pic:hover img{
    transform: scale(1.1);
    border: 1px solid white;
    box-shadow: 1px 1px 10px 1px whitesmoke;
}